<%- include("partials/header") -%>

<body class="background">


  <div class="introduction">
    <h1>Buriavimo testas internete</h1>

    <h3>Pasiruošk artėjančiam egzaminui!</h3>
  </div>

  <section class="exam-themes">
    <form class="" action="/test" method="post">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pasirink temą ir pradėk
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%  sections.forEach(function(section){ %>
          <a class="dropdown-item" href="/test/<%= section._id %>"><%= section.name %></a>
          <% }); %>
        </div>
      </div>
    </form>
  </section>

  <section>
    <img class="home-image" src="https://media.giphy.com/media/3oz8xRQiRlaS1XwnPW/giphy.gif" alt="">
  </section>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<%- include("partials/footer") -%>
